ENV=
NODE_ENV=

SECRET_KEY=
HOST=
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

MONGO_DATABASE_URL=
MONGO_CACHE_DB=
CACHE_KEY=

POSTGRES_URL=

# Next.js only exposes envs prefixed with NEXT_PUBLIC_ on the client.
# Fallback to the default versioned API path if not provided.
NEXT_PUBLIC_API_VERSIONED_PATH=/api/v1

IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
IGDB_API=
IGDB_TOKEN_REQUEST_URL=

LOCALE_TIME_FORMAT=
