/* FONT */
/* 
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
  src: url('/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
    url('/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
    url('/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
} */

body {
  min-height: 30rem; /* Can be removed; just added for demo purposes */

  /* Colors */
  --red: #ee6352;
  --blue: #416cde;
  --cyan: #46b1c9;
  --pink: #f16571;
  --pink-bright: #ee4266;
  --brown: #a3825f;
  --brown-gray: #4e4e4e;
  --orange: #f04e27;
  --aqua-green: #49c5a1;
  --dark-pink: #cf9aae;
  --green: #1e6464;

  /*--hltb-color: #287fc2;*/ /* Old blue  */
  --hltb-color: #ec9444; /* New Yellow  */
  /*--metacritic-color: #6c3;*/ /* Old Green */
  --metacritic-color: #00ce7a; /* New Green */
  --igdb-color: #9147ff;

  /* Darker versions for hovers */
  --aqua-green-darker: #3faf8f;

  /* Others colors that match */
  --gray: #c1cfcc;
  --pink: #deaeae;
  --gray-blue: #a8cef3;
  --green-gray: #91b8ae;
  --blue-darker: #2656d9;

  /* Letters */
  --letter-light: rgba(255, 255, 255, 0.9);

  /* Gray Scale */
  --gray-0: #343a40;
  --gray-1: #49525a;
  --gray-2: #4f5b66;
  --gray-3: #65737e;
  --gray-4: #a7adba;

  /* Others */
  --white: rgba(235, 235, 235, 1); /* #ebebeb */
  --white-darker: rgba(235, 235, 235, 0.8);
  --white-darkest: rgba(235, 235, 235, 0.6);

  /* Global CSS Vars */
  /* --primary-color: var(--red); */
  /* --primary-color-darker: var(--blue-darker); */
  --primary-color: var(--aqua-green);
  --primary-color-darker: var(--aqua-green-darker);

  /*
  These are defined in the layout of main of nextjs
  --primary-font
  --font-title
  */

  color: var(--letter-light);
  /* font-family: var(--primary-font), Arial; */
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  background-color: var(--gray-0);
}
/*-------------------------------------------------------*/

/* BASELINE ---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  /* font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif; */
  letter-spacing: 0;
  font-weight: normal;
}

h1 {
  font-size: 6rem;
  line-height: 1.167;
}

h2 {
  font-size: 3.75rem;
  line-height: 1.2;
}

h3 {
  font-size: 3rem;
  line-height: 1.167;
}

h4 {
  font-size: 2.125rem;
  line-height: 1.235;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.334;
}

h6 {
  font-size: 1.25rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

/* TOP APP BAR ------------------------------------------*/
.menu-button {
  position: relative;
  left: -10px;
}
/*-------------------------------------------------------*/

/* SECTION TITLE ----------------------------------------*/
.section-title {
  margin-bottom: 40px;
}

.section-title__pre {
  display: flex;
  flex-direction: flex-start;
}

.section-title__chips {
  margin-top: 8px;
}

/*-------------------------------------------------------*/

/* SECTION SEARCH ---------------------------------------*/
.section-search hr {
  margin-right: 16px;
}

/*-------------------------------------------------------*/

.MuiToolbar-root {
  background-color: var(--white);
  align-items: center;
}

.MuiMasonry-root {
  width: calc(100% + 16px);
}

.MuiTypography-root {
  /* font-family: var(--primary-font), Arial; */
}
.MuiButtonBase-root.MuiIconButton-root.hid-aura {
  background-color: inherit;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-font {
  font-family: var(--font-title);
  /* color: var(--primary-color); */
}

h1.brand {
  margin-left: 20px;
  padding: 0;
  font-family: Baloo, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: var(--gray-0) !important;
}

.MuiButton-root {
  color: white !important;
}

.MuiCard-root.game-card {
  /* background-color: var(--primary-color); */
  background-color: var(--gray-2);
}

.masonry-wrapper {
}

.masonry-games.MuiMasonry-root {
  /* margin: 0 -7px; */
}

.card-wrapper {
  /* padding: 7px; */
}

.game-card .title-font {
  color: white;
}

.game-card img {
  width: 100%;
}
.game-card.game-card-xs {
  width: 178.67px;
}

.game-card-actions {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.game-card-actions .MuiButtonBase-root {
  /* font-size: 30px; */
  /* margin: 5px; */
  /* cursor: pointer; */
  margin-left: 0;
  color: white;
}

.danger {
  color: red;
}

/* REUSABLE ---------------------------------------------*/

.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}
.mb-4 {
  margin-bottom: 32px;
}
.mb-5 {
  margin-bottom: 40px;
}

.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.mt-3 {
  margin-top: 24px;
}
.mt-4 {
  margin-top: 32px;
}
.mt-5 {
  margin-top: 40px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.ml-4 {
  margin-left: 32px;
}

.ml-5 {
  margin-left: 40px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mr-4 {
  margin-right: 32px;
}

.mr-5 {
  margin-right: 40px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mx-4 {
  margin-left: 32px;
  margin-right: 32px;
}

.mx-5 {
  margin-left: 40px;
  margin-right: 40px;
}
.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-4 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-5 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-align-center {
  text-align: center;
}

.igdb-color {
  color: var(--igdb-color);
}
.igdb-background-color {
  background-color: var(--igdb-color);
}
.mini-chip {
  padding: 3px 5px;
  border-radius: 10px;
}
.cursor-pointer {
  cursor: pointer;
}
.word-break-word {
  width: 90%;
  word-wrap: break-word;
}

.color-white {
  color: white;
}
.color-primary {
  color: var(--primary-color);
}
.no-padding {
  padding: 0 7px !important;
}

.line-height-1 {
  line-height: 1;
}

/*-------------------------------------------------------*/
