/* FONT */

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
  src: url('/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
    url('/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
    url('/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 30rem; /* Can be removed; just added for demo purposes */

  /* Colours */
  --red: #ee6352;
  --blue: #416cde;
  --cyan: #46b1c9;
  --pink: #f16571;
  --pink-bright: #ee4266;
  --brown: #a3825f;
  --brown-gray: #4e4e4e;
  --orange: #f04e27;
  --aqua-green: #49c5a1;
  --dark-pink: #cf9aae;
  --green: #1e6464;

  /*--hltb-colour: #287fc2;*/ /* Old blue  */
  --hltb-colour: #ec9444; /* New Yellow  */
  /*--metacritic-colour: #6c3;*/ /* Old Green */
  --metacritic-colour: #00ce7a; /* New Green */

  /* Darker versions for hovers */
  --aqua-green-darker: #3faf8f;

  /* Others colours that match */
  --gray: #c1cfcc;
  --pink: #deaeae;
  --gray-blue: #a8cef3;
  --green-gray: #91b8ae;
  --blue-darker: #2656d9;

  /* Letters */
  --letter-light: rgba(255, 255, 255, 0.9);

  /* Gray Scale */
  --gray-0: #343a40;
  --gray-1: #49525a;
  --gray-2: #4f5b66;
  --gray-3: #65737e;
  --gray-4: #a7adba;

  /* Others */
  --white: rgba(235, 235, 235, 1); /* #ebebeb */
  --white-darker: rgba(235, 235, 235, 0.8);
  --white-darkest: rgba(235, 235, 235, 0.6);

  /* Global CSS Vars */

  --primary-color: var(--blue);
  --primary-color-darker: var(--blue-darker);
  /*
  --primary-color: var(--aqua-green);
  --primary-color-darker: var(--aqua-green-darker); */

  color: var(--letter-light);
  font-family: 'Proxima Nova', Arial;
  font-size: 15px;
  background-color: var(--gray-0);
}

.MuiToolbar-root {
  background-color: var(--white);
  align-items: center;
}

.MuiToolbar-root form {
  margin-top: 3px;
}

.MuiToolbar-root .MuiContainer-root {
  padding: 0;
}

.MuiMasonry-root {
  width: calc(100% + 16px);
}

.MuiTypography-root {
  font-family: 'Proxima Nova', Arial;
}

.MuiTypography-h5 {
  font-family: var(--font-title);
}

a {
  text-decoration: none;
}

.navbar-brand h1 {
  margin-left: 10px;
  padding: 0;
  font-family: Baloo, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: var(--gray-0) !important;
}

.game-card {
  position: relative;
}
.game-card img {
  width: 100%;
}
.game-card.game-card-xs {
  width: 178.67px;
}

.game-card-actions {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.game-card-actions .MuiButtonBase-root {
  /* font-size: 30px; */
  /* margin: 5px; */
  /* cursor: pointer; */
  margin-left: 0;
  color: white;
}
