body {
  min-height: 30rem; /* Can be removed; just added for demo purposes */

  /* Colours */
  --red: #ee6352;
  --blue: #416cde;
  --cyan: #46b1c9;
  --pink: #f16571;
  --pink-bright: #ee4266;
  --brown: #a3825f;
  --brown-gray: #4e4e4e;
  --orange: #f04e27;
  --aqua-green: #49c5a1;
  --dark-pink: #cf9aae;
  --green: #1e6464;

  /*--hltb-colour: #287fc2;*/ /* Old blue  */
  --hltb-colour: #ec9444; /* New Yellow  */
  /*--metacritic-colour: #6c3;*/ /* Old Green */
  --metacritic-colour: #00ce7a; /* New Green */

  /* Darker versions for hovers */
  --aqua-green-darker: #3faf8f;

  /* Others colours that match */
  --gray: #c1cfcc;
  --pink: #deaeae;
  --gray-blue: #a8cef3;
  --green-gray: #91b8ae;
  --blue-darker: #2656d9;

  /* Letters */
  --letter-light: rgba(255, 255, 255, 0.9);

  /* Gray Scale */
  --gray-0: #343a40;
  --gray-1: #49525a;
  --gray-2: #4f5b66;
  --gray-3: #65737e;
  --gray-4: #a7adba;

  /* Others */
  --white: rgba(235, 235, 235, 1); /* #ebebeb */
  --white-darker: rgba(235, 235, 235, 0.8);
  --white-darkest: rgba(235, 235, 235, 0.6);

  /* Global CSS Vars */

  --primary-color: var(--blue);
  --primary-color-darker: var(--blue-darker);
  /*
  --primary-color: var(--aqua-green);
  --primary-color-darker: var(--aqua-green-darker); */

  color: var(--letter-light);
  font-family: 'Proxima Nova', Arial;
  font-size: 15px;
  background-color: var(--gray-0);
}

.MuiToolbar-root {
  background-color: var(--white);
}
